body,
html,
#root {
	min-height: 100vh;
}

#root {
	display: flex;
	flex-direction: column;
	background: radial-gradient(getGradient()) !important;
}

.wrapper {
	flex: 1 0 auto;
	padding-top: 70px;
}
